
<app-alert-box [message]="'Welcome to Get API'" [alertType]="'Success'"></app-alert-box>

<app-alert-box [message]="'Welcome to Get API'" [alertType]="'Danger'"></app-alert-box>


<div class="row">
    <div class="col-4">
        <button class="btn btn-success" (click)="getUser()" >Get Posts</button>
    </div>

    <div class="col-4">
        <select class="form-select">
          @for (item of userList; track $index) {
            <option>{{item.name}}</option>
          }

        </select>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <button class="btn btn-success" (click)="getCustomer()" >Get Customer</button>
    </div>

    <div class="col-4">
        <select class="form-select">
          @for (item of customerList; track $index) {
            <option>{{item.userName}}</option>
          }

        </select>
    </div>
</div>
